{variables, [
  {name, "suitename"}, 
  {copyright_year, "2011"},
  {author_name, "'Ruan Pienaar'"},
  {author_email,"'ruan800@gmail.com'"}
]}.
{dir, "test"}.
{template, "ctsuite.erl", "test/{{name}}_SUITE.erl"}.
