{variables, [
  {name, "mymodule"}, 
  {copyright_year, "2011"},
  {author_name, "AUTHOR_NAME AUTHOR_SURNAME"},
  {author_email,"'EMAIL_ADDRESS'"}
]}.
{dir, "tests"}.
{template, "eunit.erl", "tests/{{name}}_tests.erl"}.
