{variables, [
  {name, "mymodule"}, 
  {copyright_year, "2011"},
  {author_name, "'Ruan Pienaar'"},
  {author_email,"'ruan800@gmail.com'"}
]}.
{dir, "tests"}.
{template, "eunit.erl", "tests/{{name}}_tests.erl"}.
