{variables, [
  {name, "myserver"},
  {copyright_year, "2011"},
  {author_name, "'Ruan Pienaar'"},
  {author_email, "'ruan800@gmail.com'"}]}.
{template, "finsrv_proper_statem.erl", "test/{{name}}_srv_asm.erl"}.
