{variables, [
  {name, "supname"}, 
  {app_dir, "."},
  {copyright_year, "2011"},
  {author_name, "'Ruan Pienaar'"},
  {author_email,"'ruan800@gmail.com'"}
]}.
{dir, "{{app_dir}}/src"}.
{template, "finsup.erl", "{{app_dir}}/src/{{name}}_sup.erl"}.
