{variables, [
  {name, "supname"}, 
  {app_dir, "."},
  {copyright_year, "2011"},
  {author_name, "AUTHOR_NAME AUTHOR_SURNAME"},
  {author_email,"'EMAIL_ADDRESS'"}
]}.
{dir, "{{app_dir}}/src"}.
{template, "finsup.erl", "{{app_dir}}/src/{{name}}_sup.erl"}.
