{variables, [
  {name, "elementname"}, 
  {app_name, "app_name"},
  {copyright_year, "2011"},
  {author_name, "'Ruan Pienaar'"},
  {author_email,"'ruan800@gmail.com'"}
]}.
{template, "nitroelem.erl", "src/{{app_name}}_{{name}}_element.erl"}.
