{variables, [
  {name, "pagename"}, 
  {app_name, "app_name"},
  {copyright_year, "2011"},
  {author_name, "'Ruan Pienaar'"},
  {author_email,"'ruan800@gmail.com'"}
]}.
{dir, "test"}.
{template, "nitropage.erl", "src/{{app_name}}_{{name}}_page.erl"}.
