{variables, [
  {name, "elementname"}, 
  {app_name, "app_name"},
  {copyright_year, "2011"},
  {author_name, "AUTHOR_NAME AUTHOR_SURNAME"},
  {author_email,"'EMAIL_ADDRESS'"}
]}.
{template, "nitroelem.erl", "src/{{app_name}}_{{name}}_element.erl"}.
