{variables, [{appid, "default_app"}]}.
{dir, "{{appid}}"}.
{dir, "{{appid}}/src"}.

{template, "app.app.src", "{{appid}}/src/{{appid}}.app.src"}.
{template, "app_app.erl", "{{appid}}/src/{{appid}}_app.erl"}.
{template, "app_sup.erl", "{{appid}}/src/{{appid}}_sup.erl"}.

{dir, "{{appid}}/ebin"}.
{dir, "{{appid}}/include"}.
{file, "erlang_include.hrl", "{{appid}}/include/{{appid}}.hrl"}.
{dir, "{{appid}}/test"}.
{dir, "{{appid}}/priv"}.